header {
    background-color: rgb(63, 63, 63);
    color:rgb(111, 237, 233);
    display: flex;
    justify-content: center;
}

body {
    background-color: azure;
    background-repeat: no-repeat;
    background-position: top;
    
}